#bingoNumbersContaner{
    width: 470px;
    
    border: 2px solid black;
    margin: auto;
    background-color: rgb(9, 25, 68);
    padding: none;
    position: relative;
}
html {
    background-color: rgb(79, 92, 206);
}
.bingoTitle{
    width: 400px;
    height: 50px;
    margin: auto;
    

    
}
.bingoTitle h1{
    width: 100%;
}

#randomNumber{
    width: 100px;
    height: 50px;
    margin: auto;
    display: block;
}


.numbersNode{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 2px;
    font-size: x-large;
    font-weight: bolder;
    color: #ebebeb ;
    border: 0.5px solid black;
}

.highlight{
    border: 1.5px solid black;
}