#bingoNumbersContaner{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    background-color: rgb(9, 25, 68);
    padding: none;
    position: relative;
}
html {
    background-color: rgb(79, 92, 206);
}
.bingoTitle{
    width: 400px;
    height: 50px;
    margin: auto;
    
}
.bingoTitle h1{
    width: 100%;
}

#randomNumber{
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 50px;
    left: 250px;
    
}


.numbersNode{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    justify-items: center;
    font-size: x-large;
    font-weight: bolder;
    color: #ebebeb ;
}

.highlight{
    border: 0.5px solid black;
}